In [1]:
import pandas as pd
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
# TFIDF -> term frequency inverse document frequency

In [4]:
data = pd.read_csv('spamham.csv',encoding='latin')
data.head()

   type                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    5572 non-null   object
 1   email   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
data.shape

(5572, 2)

In [26]:
x = data.email

In [27]:
y = data.type

In [34]:
vect = TfidfVectorizer()# Convert a collection of raw documents to a matrix of TF-IDF features
X = vect.fit_transform(x) # training n transform
feature_name = vect.get_feature_names_out()#Array mapping from feature integer indices to feature name

In [30]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: email, Length: 5572, dtype: object

In [31]:
feature_name[2000:2050]

array(['chez', 'chg', 'chgs', 'chic', 'chick', 'chicken', 'chickened',
       'chief', 'chik', 'chikku', 'child', 'childish', 'childporn',
       'children', 'childrens', 'chile', 'chill', 'chillaxin', 'chillin',
       'china', 'chinatown', 'chinchillas', 'chinese', 'chinky', 'chinnu',
       'chiong', 'chip', 'chit', 'chk', 'chloe', 'chocolate', 'choice',
       'choices', 'choose', 'choosing', 'chop', 'chords', 'chores',
       'chosen', 'chrgd', 'christ', 'christians', 'christmas',
       'christmassy', 'chuck', 'chuckin', 'church', 'ciao', 'cine',
       'cinema'], dtype=object)

In [32]:
len(feature_name)

8672

In [14]:
x

<5572x8672 sparse matrix of type '<class 'numpy.float64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [15]:
x = x.toarray()
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [17]:
model = BernoulliNB()
model.fit(x_train,y_train)
y_predict = model.predict(x_test)
accuracy_score(y_test,y_predict)

0.9775784753363229

In [18]:
model.score(x_train,y_train) # training score

0.9881085932241418

In [19]:
new_data = pd.Series('XXX MobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. www.fraud.com?n=QJKGIGHJJGCBLMessage us to Bz-10567')
new_data

0    XXX MobileMovieClub: To use your credit, click...
dtype: object

In [20]:
new_data = vect.transform(new_data)
new_data

<1x8672 sparse matrix of type '<class 'numpy.float64'>'
	with 19 stored elements in Compressed Sparse Row format>

In [21]:
model.predict(new_data)

array(['spam'], dtype='<U4')